<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.mapper.MonsterMapper">
<!--    如果使用原来的方式#{} 在test表达式是无法取出入参值，需要通过注解@Param
 public List<Monster> findMonsterByAge(@Param(value = "age") Integer age);
 -->
    <select id="findMonsterByAge" parameterType="java.lang.Integer" resultType="Monster">
        SELECT * FROM `monster` WHERE 1 = 1
        <if test="age >= 0">
            AND age > #{age}
        </if>
    </select>

</mapper>